body{
    background-color: rgb(192, 192, 243);
}
table {
    border-collapse: collapse;
}

th,
td {
    border: black solid 5px;
    padding: 30px
}

p:hover {
    animation-duration: 2s;
    animation-name: gira;
}

@keyframes gira {
    30% {
        transform: rotate(-45deg);
        opacity: 0;
    }

    60% {
        color: rgb(255, 47, 47);
        opacity: 1;
    }

    100% {
        transform: rotate(0deg);
    }
}

